@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.container {width: 80%; height: 100%; display: grid; grid-template-rows: 50px auto 50px; background: linear-gradient(72deg, #3DEBB0 1%, #8956F3 99%)}
.header, .footer { display: flex; align-items: center; justify-content: center; margin-bottom: 20px; margin-top:20px; background-color: blueviolet; }
.header h1, footer address { text-align: center; color: whitesmoke; }
.main { display: flex; align-items: center; justify-content: center; }
.footer address { font-weight: 300; overflow: auto; }
.footer address a { font-weight: 400; color: white; }
.w3-half .caption {text-align: center;}
/*setting videos*/
.w3-half .videos{margin-top: 20px; margin-bottom: 20px;}
/*slides*/
.w3-half .professional-slide{magin-top: 20px; magin-bottom: 20px;}
