/*body { 
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(72deg, #3DEBB0 1%, #8956F3 99%);
	display: flex;
	justify-content: center;
	align-items: center;

}*/
/*.galery1{width: 80%; height: 100%; display: grid; grid-template-rows: 50px auto 50px; background: linear-gradient(72deg, #3DEBB0 1%, #8956F3 99%)}*/

.slider {
	display: flex;
	margin-left: 60px;
	height: 600px;
	width: 700px;
	border-radius: 10px;     /*make the border of slide stay circular-half*/
	overflow: hidden;
	
}

.headerr{
	justify-content: center;
	width:100%;
	margin-top:60px;
	background: linear-gradient(75deg, #E3FF00 1%, #F2FF0F 99%);
	
}


.slides {
	width:400%;
	height:400px;
	display: flex;

}

.slides input{
	display: none;
}

.slide{
	width:25%;
	position: relative;
	transition: 2s;			/*velocity of the photo change to other slide photo*/
}

.slide img{
	display: flex;
	width:700px;  			/*width of image*/	
}

/*.manual-navigation{
	position: absolute;
	width: 800px;
	margin-top: -40%;
	display: flex;
	justify-content: center;
}
/* */
.manual-btn{
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background-color: #fff;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -25%;
}

#radio3:checked ~ .first{
	margin-left: -50%;
}

#radio4:checked ~ .first{
	margin-left: -75%;
}

#radio5:checked ~ .first{
	margin-left: -100%;
}

#radio6:checked ~ .first{
	margin-left: -125%;
}

#radio7:checked ~ .first{
	margin-left: -150%;
}

#radio8:checked ~ .first{
	margin-left: -175%;
}

#radio9:checked ~ .first{
	margin-left: -200%;
}

#radio10:checked ~ .first{
	margin-left: -225%;
}

#radio11:checked ~ .first{
	margin-left: -250%;
}

.navigation-auto div{
	border: 2px solid #20a6ff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.navigation-auto{
	position: absolute;
	width: 800px;
	margin-top: 580px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: #fff;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
	background-color: #fff;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
	background-color: #fff;
}

#radio7:checked ~ .navigation-auto .auto-btn7{
	background-color: #fff;
}

#radio8:checked ~ .navigation-auto .auto-btn8{
	background-color: #fff;
}

#radio9:checked ~ .navigation-auto .auto-btn9{
	background-color: #fff;
}

#radio10:checked ~ .navigation-auto .auto-btn10{
	background-color: #fff;
}

#radio11:checked ~ .navigation-auto .auto-btn11{
	background-color: #fff;
}

/*INICIO CELULAR, RESPONSIVA*/
@media(max-width:1370px){
	.container .main .galery .fotos{
		gap: 1rem;
	}
	

}



/*FIM CELLULAR*/











